<a href="https://colab.research.google.com/github/VishnupriyaHR/INTERNSHIP/blob/main/Understanding_python_data_types_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DESCRIPTION**

This task involves understanding the basic data
types in Python such as lists, dictionaries, and
sets.



#**RESPONSIBILITY:**

Write a Python program to create a list, a
dictionary, and a set. Perform basic operations
like adding, removing, and modifying
elements**

#**LISTS**

**Creating empty list**

In [ ]:
a=[]

In [ ]:
b=[]

In [ ]:
c=[]

In [ ]:
d=[]

In [ ]:
e=[]

In [ ]:
f=[]

**Adding elements to list**

In [ ]:

a = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh",
    "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh",
    "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh"
]

**Printing the elements**

In [ ]:
a

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'Andaman and Nicobar Islands',
 'Chandigarh']

**list allow the duplicates**

**list with data type string**

In [ ]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]

In [ ]:
b

['banglore',
 'chikkaballapura',
 'dharwad',
 'ballari',
 'banglore',
 'tumkur',
 'doddaballapur',
 'ballari']

**list with data type integer**

In [ ]:
c=[2000,4000,2000,5600,4090,1423,7257]

In [ ]:
c

[2000, 4000, 2000, 5600, 4090, 1423, 7257]

**list with data type float**

In [ ]:
d=[12.454,76.897,098.234,098.8657,456776.87677]

In [ ]:
d

[12.454, 76.897, 98.234, 98.8657, 456776.87677]

**list with datatype boolean**

In [ ]:
e=[True,False,True,True,False]

In [ ]:
e

[True, False, True, True, False]

**A list can contain different data types**

**A list with strings, integers ,floats and boolean values**

In [ ]:
f=["apple","mango","banana","grapes",165,345,76,345.56,87.345,98.98,True,False]

In [ ]:
f

['apple',
 'mango',
 'banana',
 'grapes',
 165,
 345,
 76,
 345.56,
 87.345,
 98.98,
 True,
 False]

In [ ]:
,
    "Dadra and Nagar Haveli and Daman and Diu", "Lakshadweep", "Delhi", "Puducherry"

**lists are defined as objects with the data type so that type() function is used**

In [ ]:
a = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh",
    "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh",
    "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh"
]
print(type(a))

<class 'list'>

**List items are indexed and you can access them by referring to the index number**

In [ ]:
a = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh",
    "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh",
    "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh"
]
print(a[1])

Arunachal Pradesh

In [ ]:
print(a[2])

Assam

In [ ]:
print(a[3])

Bihar

In [ ]:
print(a[4])

Chhattisgarh

In [ ]:
print(a[5])

Goa

In [ ]:
print(a[6])

Gujarat

In [ ]:
print(a[7])

Haryana

In [ ]:
print(a[8])

Himachal Pradesh

In [ ]:
print(a[9])

Jharkhand

In [ ]:
print(a[10])

Karnataka

**negative indexing**

**which will display from last of the list**

In [ ]:
print(a[-1])

Chandigarh

In [ ]:
print(a[-2])

Andaman and Nicobar Islands

In [ ]:
print(a[-3])

West Bengal

In [ ]:
print(a[-4])

Uttarakhand

In [ ]:
print(a[-5])

Uttar Pradesh

In [ ]:
print(a[-6])

Tripura

In [ ]:
print(a[-7])

Telangana

In [ ]:
print(a[-8])

Tamil Nadu

In [ ]:
print(a[-9])

Sikkim

In [ ]:
print(a[-10])

Rajasthan

**Range of indexing**


**The search will start at index 2 (included) and end at index 8 (not included).**

In [ ]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]
print(b[1:8])

['chikkaballapura', 'dharwad', 'ballari', 'banglore', 'tumkur', 'doddaballapur', 'ballari']

In [ ]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]
print(b[:4])

['banglore', 'chikkaballapura', 'dharwad', 'ballari']

In [ ]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]
print(b[6:])

['doddaballapur', 'ballari']

**Range of negative indexing**

In [ ]:
c=[2000,4000,2000,5600,4090,1423,7257]
print(c[-3:-2])

[4090]

In [ ]:
c=[2000,4000,2000,5600,4090,1423,7257]
print(c[-2:-1])

[1423]

In [ ]:
c=[2000,4000,2000,5600,4090,1423,7257]
print(c[-3:-4])

[]

**check if item exists**

In [ ]:
a = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh",
    "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh",
    "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh"
]

if "Delhi" in a:
    print("Yes, Delhi is in the list a.")
else:
    print("No, Delhi is not in the list a.")

No, Delhi is not in the list a.

In [ ]:
a = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh",
    "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh",
    "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh"
]

if "Karnataka" in a:
    print("Yes, Karnataka is in the list a.")
else:
    print("No, Karnataka is not in the list a.")

Yes, Karnataka is in the list a.

**Change Item Value
To change the value of a specific item, refer to the index number:**

In [ ]:

f=["apple","mango","banana","grapes",165,345,76,345.56,87.345,98.98,True,False]
f[1]="guava"
print(f)

['apple', 'guava', 'banana', 'grapes', 165, 345, 76, 345.56, 87.345, 98.98, True, False]

In [ ]:
f=["apple","mango","banana","grapes",165,345,76,345.56,87.345,98.98,True,False]
f[0]="watermelon"
print(f)

['watermelon', 'mango', 'banana', 'grapes', 165, 345, 76, 345.56, 87.345, 98.98, True, False]

**Change a Range of Item Values**

**To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values**

In [18]:
f=["apple","mango","banana","grapes",165,345,76,345.56,87.345,98.98,True,False]
f[2:3]=["Tomato","potato"]
print(f)

['apple', 'mango', 'Tomato', 'potato', 'grapes', 165, 345, 76, 345.56, 87.345, 98.98, True, False]

**Insert Items**

In [23]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.insert(2,3)
print(c)

[2000, 4000, 3, 2000, 5600, 4090, 1423, 7257]

In [24]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.insert(3,"kiwi")
print(c)

[2000, 4000, 2000, 'kiwi', 5600, 4090, 1423, 7257]

In [25]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.insert(4,"ice cream")
print(c)

[2000, 4000, 2000, 5600, 'ice cream', 4090, 1423, 7257]

**To add an item to the end of the list, use the append() method:**

In [28]:
a = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh",
    "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh",
    "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh"
]
a.append("Lakshadweep")
print(a)

['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman and Nicobar Islands', 'Chandigarh', 'Lakshadweep']

In [31]:
a = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh",
    "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh",
    "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh"
]
a.append("Delhi")
a

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'Andaman and Nicobar Islands',
 'Chandigarh',
 'Delhi']



**Extend List **

**To append elements from another list to the current list, use the extend() method**

In [33]:
c=[2000,4000,2000,5600,4090,1423,7257]
d=[12.454,76.897,098.234,098.8657,456776.87677]
c.extend(d)
print(c)

[2000, 4000, 2000, 5600, 4090, 1423, 7257, 12.454, 76.897, 98.234, 98.8657, 456776.87677]

**Remove Specified Item**

**The remove() method removes the specified item.**

In [35]:
d=[12.454,76.897,098.234,098.8657,456776.87677]
d.remove(12.454)
d

[76.897, 98.234, 98.8657, 456776.87677]

In [36]:
d=[12.454,76.897,098.234,098.8657,456776.87677]
d.remove(76.897)
d

[12.454, 98.234, 98.8657, 456776.87677]

**Remove Specified Index**

**The pop() method removes the specified index.**

In [37]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.pop(0)

2000

In [38]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.pop(1)

4000

In [39]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.pop(2)

2000

In [40]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.pop()

7257

**The del keyword can also delete the list completely.**

In [45]:
e=[True,False,True,True,False]

del e[0]
print(e)

[False, True, True, False]

In [46]:
e=[True,False,True,True,False]

del e[1]
print(e)

[True, True, True, False]

In [49]:
e=[True,False,True,True,False]
del e

**Clear the List**

**The clear() method empties the list.**
**The list still remains, but it has no content.**

In [50]:
c=[2000,4000,2000,5600,4090,1423,7257]
c.clear()
print(c)

[]

**Loop Through a List**

In [51]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]
for x in b:
   print(x)

banglore
chikkaballapura
dharwad
ballari
banglore
tumkur
doddaballapur
ballari

**Loop Through the Index Numbers**

In [54]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]
for i in range(len(b)):
  print(b[i])

banglore
chikkaballapura
dharwad
ballari
banglore
tumkur
doddaballapur
ballari

**Using a While Loop**

In [56]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]
i=0
while i < len(b):
  print(b[i])
  i=i+1

banglore
chikkaballapura
dharwad
ballari
banglore
tumkur
doddaballapur
ballari

**Looping Using List Comprehension**

In [57]:
b=["banglore","chikkaballapura","dharwad","ballari","banglore","tumkur","doddaballapur","ballari"]
[print(x) for x in b]

banglore
chikkaballapura
dharwad
ballari
banglore
tumkur
doddaballapur
ballari

[None, None, None, None, None, None, None, None]

**List Comprehension**

**List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.**

In [61]:
g = ["cat", "dog", "cow", "parrot", "angelfish"]

newlist = []

for x in g:
    if "a" in x:
        newlist.append(x)

print(newlist)

['cat', 'parrot', 'angelfish']

In [63]:
g = ["cat", "dog", "cow", "parrot", "angelfish"]

newlist = [x for x in g if "a" in x]

print(newlist)

['cat', 'parrot', 'angelfish']

**sorting**

**List objects have a sort() method that will sort the list alphanumerically, ascending, by default:**

In [64]:
h = ["orange", "mango", "kiwi", "pineapple", "banana"]
h.sort()
print(h)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [65]:
i= [100, 50, 65, 82, 23]
i.sort()
print(i)

[23, 50, 65, 82, 100]

**Sort Descending**

**To sort descending, use the keyword argument reverse = True:**

In [66]:
h = ["orange", "mango", "kiwi", "pineapple", "banana"]
h.sort(reverse = True)
print(h)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [67]:
i = [100, 50, 65, 82, 23]
i.sort(reverse = True)
print(i)

[100, 82, 65, 50, 23]

**Customize Sort Function**

**You can also customize your own function by using the keyword argument key = function.**

In [68]:
def myfunc(n):
  return abs(n - 50)

i = [100, 50, 65, 82, 23]
i.sort(key = myfunc)
print(i)

[50, 65, 23, 82, 100]

**Case Insensitive Sort**

**By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters**

In [69]:
k = ["banana", "Orange", "Kiwi", "cherry"]
k.sort()
print(k)

['Kiwi', 'Orange', 'banana', 'cherry']

In [70]:
k = ["banana", "Orange", "Kiwi", "cherry"]
k.sort(key = str.lower)
print(k)

['banana', 'cherry', 'Kiwi', 'Orange']

**reverse order**

**The reverse() method reverses the current sorting order of the elements.**

In [71]:
k = ["banana", "Orange", "Kiwi", "cherry"]
k.reverse()
print(k)

['cherry', 'Kiwi', 'Orange', 'banana']

**Copy a List**

**There are ways to make a copy, one way is to use the built-in List method copy().**

In [73]:
list1 = ["apple", "banana", "cherry"]
list2= list1.copy()
print(list2)

['apple', 'banana', 'cherry']

In [74]:
list2 = ["apple", "banana", "cherry"]
list3= list(list2)
print(list2)

['apple', 'banana', 'cherry']

**Join Two Lists**

In [75]:
list4 = ["a", "b", "c"]
list5 = [1, 2, 3]

list6 = list4 + list5
print(list6)

['a', 'b', 'c', 1, 2, 3]

In [76]:
list4 = ["a", "b" , "c"]
list5 = [1, 2, 3]

for x in list5:
  list4.append(x)

print(list4)

['a', 'b', 'c', 1, 2, 3]

In [77]:
list4 = ["a", "b" , "c"]
list5 = [1, 2, 3]

list4.extend(list5)
print(list4)

['a', 'b', 'c', 1, 2, 3]

##Tuples

**creating tuples**

In [78]:
tuple1=()

In [79]:
tuple2=()

In [80]:
tuple3=()

In [81]:
tuple4=()

**inserting elements to tuples**

In [82]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")

print(tuple1)

('apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pear', 'pineapple', 'strawberry', 'watermelon')

**tuple allows duplicate**

In [83]:
tuple2=(1,2,3,3,4,5)
tuple2

(1, 2, 3, 3, 4, 5)

**len is used to find length**

In [90]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(len(tuple1))

10

In [85]:
tuple3 = ("apple",)
print(type(tuple3))

#NOT a tuple
tuple3 = ("apple")
print(type(tuple3))

<class 'tuple'>
<class 'str'>

**Data Types**

In [87]:
tuple6= ("apple", "banana", "cherry")
tuple4 = (1, 5, 7, 9, 3)
tuple5= (True, False, False)

**A tuple with strings, integers and boolean values:**

In [89]:
tuple7= ("abc", 34, True, 40, "male")
print(tuple7)

('abc', 34, True, 40, 'male')

**type()**

In [91]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(type(tuple1))

<class 'tuple'>

**The tuple() Constructor**

In [92]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1)

('apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pear', 'pineapple', 'strawberry', 'watermelon')

**Access Tuple Items**

In [93]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[1])

banana

In [95]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[2])

orange

In [96]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[5])

mango

In [97]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[7])

pineapple

In [99]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[8])

strawberry

**Negative Indexing**

In [100]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-1])

watermelon

In [101]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-9])

banana

In [102]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-7])

grape

In [103]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-4])

pear

In [104]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-2])

strawberry

**Range of Indexes**

In [105]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[1:6])

('banana', 'orange', 'grape', 'kiwi', 'mango')

In [106]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[2:8])

('orange', 'grape', 'kiwi', 'mango', 'pear', 'pineapple')

In [107]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[6:9])

('pear', 'pineapple', 'strawberry')

In [108]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[:5])

('apple', 'banana', 'orange', 'grape', 'kiwi')

In [109]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[:3])

('apple', 'banana', 'orange')

In [110]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-2:])

('strawberry', 'watermelon')

In [111]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-9:])

('banana', 'orange', 'grape', 'kiwi', 'mango', 'pear', 'pineapple', 'strawberry', 'watermelon')

**Range of Negative Indexes**

In [112]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-9:-2])

('banana', 'orange', 'grape', 'kiwi', 'mango', 'pear', 'pineapple')

In [113]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-5:-3])

('mango', 'pear')

In [114]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")
print(tuple1[-7:-1])

('grape', 'kiwi', 'mango', 'pear', 'pineapple', 'strawberry')

**Check if Item Exists**

In [117]:
tuple1 = ("apple", "banana", "orange", "grape", "kiwi", "mango", "pear", "pineapple", "strawberry", "watermelon")

if "apple" in tuple1:
    print("Yes, 'apple' is in the tuple1")
else:
    print("No, 'apple' is not in the tuple1")

Yes, 'apple' is in the tuple1

**Change Tuple Values**

In [118]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Add Items**

In [120]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(tuple(y))

('apple', 'banana', 'cherry', 'orange')

**Add tuple to a tuple.**

In [121]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Remove Items**

In [123]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(tuple(y))

('banana', 'cherry')

In [125]:
thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple)

**Unpacking a Tuple**

In [127]:
#Packing a tuple:

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [128]:
#Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

** Asterisk* **

In [129]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [130]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

**Loop Through a Tuple**

In [131]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Loop Through the Index Numbers**

In [132]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

**Using a While Loop**

In [133]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

**Join Tuples**

In [134]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Multiply Tuples**

In [135]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

** **Set** **

In [136]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

**Once a set is created, you cannot change its items, but you can add new items.**

**Add Items**

In [137]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [138]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'papaya', 'cherry', 'pineapple', 'apple', 'mango'}

In [139]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'apple', 'banana', 'orange', 'cherry'}

**Remove Item**

In [140]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [141]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [142]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

**The clear() method empties the set:**

In [143]:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [145]:
thisset = {"apple", "banana", "cherry"}

del thisset

**Loop Items**

In [146]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

**Join Sets**

**Union**

The union() method returns a new set with all items from both sets.**

In [147]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

**Use | to join two sets:**

In [148]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

**Join Multiple Sets**

In [149]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'b', 'bananas', 'a', 'c', 'apple', 'John', 'Elena', 'cherry'}

In [150]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'b', 'bananas', 'a', 'c', 'apple', 'John', 'Elena', 'cherry'}

**Join a Set and a Tuple**

In [151]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

**Update**

In [152]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

**difference**

In [153]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)

print("Elements in set1 but not in set2:", difference_set)

Elements in set1 but not in set2: {1, 2}

**difference and update**

In [154]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set1.difference_update(set2)

print("Updated set1 after difference_update:", set1)

Updated set1 after difference_update: {1, 2}

**discard**

In [155]:
my_set = {1, 2, 3, 4, 5}

# Remove element 3 from the set
my_set.discard(3)

print("Set after discarding 3:", my_set)

# Trying to discard an element not in the set
my_set.discard(6)

print("Set after discarding 6 (not in set):", my_set)

Set after discarding 3: {1, 2, 4, 5}
Set after discarding 6 (not in set): {1, 2, 4, 5}

**intersection**

In [156]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection of set1 and set2
intersection_set = set1.intersection(set2)

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3, 4, 5}

**intersection_update()**

In [157]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Keep only the elements that are common to set1 and set2
set1.intersection_update(set2)

print("Updated set1 after intersection_update:", set1)

Updated set1 after intersection_update: {3, 4, 5}

**isdisjoint()**

In [158]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint
result = set1.isdisjoint(set2)

print("Are set1 and set2 disjoint?", result)

Are set1 and set2 disjoint? True

**issubset()issubset()**

In [159]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
result = set1.issubset(set2)

print("Is set1 a subset of set2?", result)

Is set1 a subset of set2? True

**issuperset()**

In [160]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2
result = set1.issuperset(set2)

print("Is set1 a superset of set2?", result)

Is set1 a superset of set2? True

**symmetric_difference()**

In [161]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference between set1 and set2
symmetric_difference_set = set1.symmetric_difference(set2)

print("Symmetric difference between set1 and set2:", symmetric_difference_set)

Symmetric difference between set1 and set2: {1, 2, 5, 6}

** symmetric_difference_update()	**

In [162]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Update set1 with the symmetric difference between set1 and set2
set1.symmetric_difference_update(set2)

print("Updated set1 after symmetric_difference_update:", set1)

Updated set1 after symmetric_difference_update: {1, 2, 5, 6}